<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :forename %><br />
    <%= f.text_field :forename %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </p>
  <p>
    <%= f.label :company_id %><br />
    <%= f.select :company_id, options_from_collection_for_select(@companies, "id", "name") %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>